
*.ser
FoodInventory/.idea/misc.xml
FoodInventory/.idea/modules.xml
FoodInventory/build.gradle
FoodInventory/.idea/misc.xml
FoodInventory/gradle/wrapper/gradle-wrapper.properties
FoodInventory/.idea/misc.xml
FoodInventory/build.gradle
.idea/workspace.xml
.idea/workspace.xml
FoodInventory/.idea/caches/build_file_checksums.ser
FoodInventory/.idea/caches/build_file_checksums.ser
FoodInventory/.idea/caches/build_file_checksums.ser
*.xml___jb_old___
